In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

read the data from dataset

In [19]:
covariance_class1 = pd.read_csv('hwk2_datasets/DS2_Cov1.txt', header=None).drop([20], axis=1)
covariance_class2 = pd.read_csv('hwk2_datasets/DS2_Cov2.txt', header=None).drop([20], axis=1)
covariance_class3 = pd.read_csv('hwk2_datasets/DS2_Cov3.txt', header=None).drop([20], axis=1)

mean1_class1 = pd.read_csv('hwk2_datasets/DS2_c1_m1.txt', header=None).drop([20], axis=1)
mean2_class1 = pd.read_csv('hwk2_datasets/DS2_c1_m2.txt', header=None).drop([20], axis=1)
mean3_class1 = pd.read_csv('hwk2_datasets/DS2_c1_m3.txt', header=None).drop([20], axis=1)

mean1_class2 = pd.read_csv('hwk2_datasets/DS2_c2_m1.txt', header=None).drop([20], axis=1)
mean2_class2 = pd.read_csv('hwk2_datasets/DS2_c2_m2.txt', header=None).drop([20], axis=1)
mean3_class2= pd.read_csv('hwk2_datasets/DS2_c2_m3.txt', header=None).drop([20], axis=1)

generate data for each classes

In [25]:
positivedata_1 = np.random.multivariate_normal(np.squeeze(mean1_class1), covariance_class1, 2000)
negativedata_1 = np.random.multivariate_normal(np.squeeze(mean1_class2), covariance_class1, 2000)
positivedata_2 = np.random.multivariate_normal(np.squeeze(mean2_class1), covariance_class2, 2000)
negativedata_2 = np.random.multivariate_normal(np.squeeze(mean2_class2), covariance_class2, 2000)
positivedata_3 = np.random.multivariate_normal(np.squeeze(mean3_class1), covariance_class3, 2000)
negativedata_3 = np.random.multivariate_normal(np.squeeze(mean3_class2), covariance_class3, 2000)

(2000, 20)

sample the data from each distribution based on the probability is given

In [32]:
positive_data = np.zeros((2000, 20))
negative_data = np.zeros((2000, 20))

positive_classes = [positivedata_1, positivedata_2, positivedata_3]
index = np.random.choice([0, 1, 2], 2000, p=[.1, .42, .48])
for i, class_i in enumerate(index):
    positive_data[i] = positive_classes[class_i][i]

negative_classes = [negativedata_1, negativedata_2, negativedata_3]
index_n = np.random.choice([0, 1, 2], 2000, p=[.1, .42, .48])
for i, class_i in enumerate(index_n):
    negative_data[i] = negative_classes[class_i][i]

label the positive and negative data

In [37]:
ones = 1 * np.ones((2000,1))
zeros = 0 * np.ones((2000,1))

positive_data = np.append(positive_data, ones, axis=1) 
negative_data = np.append(negative_data, zeros, axis=1)

pick the train and test and validation data based on the percent in assignment and also pick the data randomly without replacement( by shuffling the data at the first step)

In [39]:
np.random.shuffle(positive_data)
data_positive_train = positive_data[0:1200]
data_positive_test = positive_data[1200:1600]
data_positive_valid = positive_data[1600:2000]

In [40]:
np.random.shuffle(negative_data)
data_negative_train = negative_data[0:1200]
data_negative_test = negative_data[1200:1600]
data_negative_valid = negative_data[1600:2000]

In [41]:
data_test = np.concatenate((data_positive_test, data_negative_test))
data_train = np.concatenate((data_positive_train, data_negative_train))
data_valid = np.concatenate((data_positive_valid, data_negative_valid))

In [42]:
np.random.shuffle(data_test)
np.random.shuffle(data_train)
np.random.shuffle(data_valid)

In [43]:
print(f'shape of train data{data_train.shape}')
print(f'shape of test data{data_test.shape}')
print(f'shape of validation data{data_valid.shape}')

shape of train data(2400, 21)
shape of test data(800, 21)
shape of validation data(800, 21)

save the test and train and validation data to the repository

In [44]:
np.savetxt('DS2_train.csv', data_train, delimiter=',')
np.savetxt('DS2_test.csv', data_test, delimiter=',')
np.savetxt('DS2_valid.csv', data_valid, delimiter=',')

save the entire datasets to the repository and save it as DS1

In [45]:
data = np.concatenate((data_train, data_test, data_valid))
np.savetxt('DS2.csv', data, delimiter=',')

In [46]:
data_pd = pd.DataFrame(data)
data_pd.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1.135183,1.002957,2.204475,2.234593,1.718117,1.579917,3.185297,2.610832,1.552993,2.526851,...,-1.234818,0.808853,-0.266035,0.049918,0.539747,-0.164770,0.594459,3.441934,1.872095,1.0
1,4.134915,5.070674,5.743357,4.823102,4.003875,4.113020,4.716796,3.940880,4.916695,3.768333,...,3.673463,4.337357,5.376726,4.758728,4.070818,3.900327,3.104892,4.999454,4.574333,1.0
2,0.589231,-3.333033,0.373499,0.584210,-2.327226,-1.253408,0.858874,-0.933623,1.220143,-0.033987,...,1.242410,0.339465,-0.497557,-0.262457,-0.914020,-0.114639,0.816679,-1.872823,0.604071,1.0
3,1.615361,4.232913,3.421192,1.973526,2.802039,4.034054,4.015263,3.580293,2.536173,3.141107,...,4.452235,2.117597,2.821531,1.752671,3.122594,2.183314,4.915613,3.956169,4.886782,0.0
4,-0.339204,0.800596,1.563569,2.380164,2.127669,0.281610,-0.174989,-1.384316,-0.323583,2.554605,...,-0.659739,2.241526,-1.900959,0.387279,0.991670,0.930648,1.304879,1.235094,0.116769,1.0

write the data in text file follow the instruction

In [47]:
np.savetxt('Assignment2_2122841_1_4_DS2.txt', data, newline='\n', delimiter=',')
np.savetxt('Assignment2_2122841_1_4_DS2_train.txt', data_train, newline='\n', delimiter=',')
np.savetxt('Assignment2_2122841_1_4_DS2_test.txt', data_test, newline='\n', delimiter=',')
np.savetxt('Assignment2_2122841_1_4_DS2_valid.txt', data_valid, newline='\n', delimiter=',')